name: Build Android APK
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install flet
          pip install -r requirements.txt

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # --- PASO OBLIGATORIO PARA QUE SE VEA EL LOGO ---
      # Crea la carpeta assets y copia tu icono dentro antes de compilar
      - name: Prepare Assets
        run: |
          mkdir -p assets
          cp icon.png assets/icon.png

      - name: Build APK with Flet
        # Usamos "Qr Logo" para evitar errores de instalación.
        # El título visual "Qr + Logo" ya está asegurado en tu main.py
        run: |
          yes | flet build apk --product-name "Qr Logo" --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Qr-Logo-Final
          path: build/apk/app-release.apk
